@import
	url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap')
	;

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Noto Sans KR', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #252423;
}

.login-wrap {
	margin-top: 160px;
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
	text-align: center;
}

.login-form h1 {
	font-size: 32px;
	text-align: center;
	margin-bottom: 50px;
	color: #fff
}

.int-area {
	position: relative;
	margin-top: 20px;
	color: #fff;
}

.int-area:first-child {
	margin-top: 0;
}

.int-area input {
	text-align: center;
	width: 100%;
	padding: 20px 10px 10px;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid black;
	font-size: 18px;
	outline: #f8f7f4;
	color: #f8f7f4;
	width: 100%;
}

.int-area label {
	position: absolute;
	left: 10px;
	top: 15px;
	font-size: 18px;
	transition: top 0.5s ease;
}

.int-area label.warning {
	color: red !important;
	animation: warning 0.3s ease;
	animation-iteration-count: 3;
}

.int-area input:focus+label, .int-area input:valid+label {
	top: -2px;
	font-size: 13px;
	color: #166caa;
}

.btn-area {
	margin-top: 30px;
}

.btn-area button {
	text-align: center;
	width: 50%;
	height: 50px;
	margin: 0px 10px;
	color: #fff;
	background: #c5a87f;
	border: none;
	border-radius: 20px;
	font-size: 20px;
	cursor: pointer;
}

.caption {
	margin-top: 20px;
	text-align: center;
}

.caption a {
	margin: 0 10px;
	font-size: 15px;
	color: white;
	text-decoration: none;
}

.caption a:first-child {
	padding-left: 0;
}

.caption a:not(:last-child)::after {
	content: '|';
	color: white; /* 구분자 색상도 흰색으로 설정 */
	padding-left: 10px;
}