@charset "UTF-8";
body {
    margin: 0;
  }
  
  * {
    box-sizing: border-box;
  }
  
  p,
  span {
    margin: 0;
  }
  
  a {
    color: #fff;
  }
  
 .cart__list__detail img {
    display: block;
    width: 80%;
    height: 80px;
    margin: auto;
  }
  
  .cart {
    width: 80%;
    margin: auto;
    padding: 30px;
  }
  
  .cart ul {
    background-color: whitesmoke;
    padding: 30px;
    margin-bottom: 50px;
    border: whitesmoke solid 1px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 300;
  }
  
  .cart ul :first-child {
    color: #aa844d;
  }
.cart__list{
	border-top: solid 1.5px black;
    border-collapse: collapse;
    width: 100%;
    font-size: 17px;
}
.payment-table{
	border-top: solid 1.5px white;
    border-collapse: collapse;
    width: 100%;
    font-size: 17px;
}
  
  thead {
    text-align: center;
    font-weight: bold;
  }
  
  tbody {
    font-size: 12px;
  }
  
 .cart td {
    padding: 15px 5px;
    border-bottom: 1px solid lightgrey;
    color: #f5f5f5;
  }
  
.pay td {
    padding: 15px 0px;
    color: #f5f5f5;
  }
  
  .cart__list__detail :nth-child(3) {
    vertical-align: top;
    color: #f5f5f5;
  }
  
  .cart__list__detail :nth-child(3) a {
    font-size: 15px;
    color: #f5f5f5;
  }
  
  .cart__list__detail :nth-child(3) p {
    margin-top: 6px;
    font-weight: bold;
    color: #f5f5f5;
  }
  
  .cart__list__smartstore {
    font-size: 12px;
    color: gray;
  }
  
  .cart__list__option {
    vertical-align: top;
    padding: 20px;
  }
  
  .cart__list__option p {
    margin-bottom: 25px;
    position: relative;
    color: #f5f5f5;
  }
  
  .cart__list__option p::after {
    content: "";
    width: 90%;
    height: 1px;
    background-color: lightgrey;
    left: 0px;
    top: 25px;
    position: absolute;
  }
  
  .cart__list__optionbtn {
    background-color: white;
    font-size: 10px;
    border: lightgrey solid 1px;
    padding: 7px;
  }
  
  .cart__list__detail :nth-child(4),
  .cart__list__detail :nth-child(5),
  .cart__list__detail :nth-child(6) {
    border-left: 2px solid whitesmoke;
  }
  
  .cart__list__detail :nth-child(5),
  .cart__list__detail :nth-child(6) {
    text-align: center;
    font-size:13px;
  }
  
  .cart__list__detail :nth-child(5) button {
    background-color: #aa844d;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 4px 8px;
    font-size: 12px;
    margin-top: 5px;
  }
  
  .price {
    color: #f5f5f5;
    font-size:13px;
  }
  
  .cart__mainbtns {
    width: 420px;
    height: 200px;
    padding-top: 40px;
    display: block;
    margin: auto;
  }
  
  .cart__bigorderbtn {
    width: 200px;
    height: 50px;
    font-size: 16px;
    margin: auto;
    border-radius: 5px;
  }
  
  .cart__bigorderbtn.left {
    background-color: white;
    border: 1px lightgray solid;
  }
  
  .cart__bigorderbtn.right {
    background-color: #aa844d;
    color: white;
    border: none;
  }
.cart-minus{
	color:#fff;
}
.payMain{
	background:#091114;
	height: 20vh;
	width: 100wh;
}

.TextWrap{
	background: #252423;
	padding: 120px;
	}

.cart-list{
	display:block;
	width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

.menuCont li{
	position:relative;
}
.wishBtn{
	position: absolute;
    bottom: 25%;
    right: 17px;
}
.wish-icon{color:red;}

.pro_name{
	font-size:14px;
	margin-bottom:6px;
}
.cart__information ul li{
	margin-bottom:3px;
}


.pay {
    width: 80%;
    margin: auto;
    padding: 30px;
  }
  

 .pay-text{
 	text-align:center;
 }
 
 .img-table tr td img{
 	width:200px;
 	height:150px;
 }
 .img-table-td{
 	width:20%;
 }
.pay-detail-text{
	vertical-align:middle !important;
}
.payment-table tr{
	font-size:18px;
}
.payment-table tr td{
	font-size:16px;
}
.phone input{
	width:70px;
}

.zip-btn{
	width: 105px;
    height: 25px;
    color: black;
    background: lightgray;
    border: 1px lightgray solid;
    margin-left: 10px;
}
.add-input input{
	width:335px;
}

.input-box tr td input{
	height:32px;
}
.select-box{
	height:32px;
}
.pro-pay-text li{
	margin-bottom: 5px;
}
.select-box2{
	padding-right: 50px;
}

.fa-long-arrow-alt-right{
	margin:35px;
}

.coupon-text span{
	margin-right:5px;
}
.aste{
	color:#ff4800;
}

.pay__bigorderbtn{
	width: 200px;
    height: 50px;
    font-size: 16px;
    margin: auto;
    border-radius: 5px;
    background-color: #aa844d;
    color: white;
    border: none;
}
.pay_mainbtn{
	text-align: center;
}
.last-box{
	border-bottom: solid 1.5px white;
}

.pay__bigorderbtn{
	width: 200px;
    height: 50px;
    font-size: 16px;
    margin: auto;
    border-radius: 5px;
    background-color: #aa844d;
    color: white;
    border: none;
}
.pay__bigorderbtn__up{
	width: 200px;
    height: 50px;
    font-size: 16px;
    margin: auto;
    border-radius: 5px;
    background-color: #c0c0c0;
    color: #000;
    border: none;
}
.pay__bigorderbtn__up:hover{
	background-color: #fff;
}
.cart__list__option input{
	width:35px;
	text-align:center;
}
.count-box{
	color: #000;
}
.count-box{
	display:inline-block;
}